<form id="createUsersForm">

<label for="">Nombre</label>
<input type="text" name="name" id="">

<label for="">Apellido</label>
<input type="text" name="lastname" id="">

<label for="">Email</label>
<input type="email" name="email" id="">

<label for="">Contraseña</label>
<input type="password" name="password" id="">

<button type="submit">Crear usuario</button>
</form>

<p id="response"></p>

<script src="/js/createUser.js"></script>